@model IEnumerable<Models.Pie>
<div class="row carousel-holder" >
    <div class="col-md-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                @for (int index = 1; index <= Model.Count(); index++)
                {
                    <li data-target="#carousel-example-generic" data-slide-to="@(index)"></li>
                }
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img class="slide-image" src="~/Images/carousel1.jpg" alt="">
                </div>
                @foreach (var item in Model)
                {
                    <div class="item">
                        <img class="slide-image" src="~/Images/@(item.ImageName)" alt="">
                    </div>
                }
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>