<li class="dropdown">
    <a 
       class="dropdown-toggle " data-toggle="dropdown">@Resources.DataDictionary.AdministrationPanel<b class="caret"></b></a>
    <ul class="dropdown-menu ">
        <li>
            <a asp-area="Administration" asp-controller="Pies" asp-action="Index">@Resources.DataDictionary.PieManager</a>
        </li>
        <li>
            <a asp-area="Administration" asp-controller="Catagories" asp-action="Index">@Resources.DataDictionary.CategoryManager</a>
        </li>
        <li>
            <a asp-area="Administration" asp-controller="ManageUser" asp-action="ListAllUsers">@Resources.DataDictionary.CategoryManager</a>
        </li>
    </ul>
</li>